/* Widths */
@media only screen and (max-width: 1440px) {
    body {
      background-color: hsl(0, 0%, 98%);
    }
  }

/*#####################################################*/
/*#####################################################*/
/* Navbar Container */
.navBar{
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 150px;
    background-color: hsl(0, 0%, 98%);
}

ul, a {
    display:flex;
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    color:hsl(0, 0%, 41%);
}

.navBar li {
    padding: 15px;
}


/* nav dropdown */




/*#####################################################*/
/*#####################################################*/
/* Main Section */
.container{
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 98%);
    padding: 60px;
}

.info, p {
    text-align: left;
    flex-wrap: wrap;
}

.info h1 {
    font-size: 70px;
    color:hsl(0, 0%, 8%);
}
.info p{
    font-size: 18px;
    color: hsl(0, 0%, 41%);

}


/* image */

.mainImage img{
    padding: 0 40px 40px 40px;
}

/*#####################################################*/
/*#####################################################*/
/* Footer */
.attribution{
    display: flex;

    background-color: hsl(0, 0%, 98%);
}