@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;700;800&family=Roboto&display=swap");

* {
  background-color: hsl(0, 0%, 98%);
  
}

/*#####################################################*/
/*#####################################################*/
/* Navbar Container */
.navBar{
   font-family: 'Epilogue', sans-serif;
   font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 2.5%;
    height: 60px;
    background-color: hsl(0, 0%, 98%);
    
}


.navBar ul {
  display: flex;
  list-style: none;
}

.navBar ul li {
  padding: 0;
  position: relative;
}

.navBar ul li > a {
  padding-right: 2.5em;
  text-decoration: none;
  color: hsl(0, 0%, 58%);
  font-family: 'Epilpogue', sans-serif;
  font-weight: 600;
  /* transition: all 0.4s; */
}

.navBar ul li a:hover {
  color: hsl(0, 0%, 8%);
}

.logo img{
  width: 6em;
  z-index: 10;
  margin-right: 2em;
}

.navBar .topRight {
  margin-top: 25px;
  margin-left: auto;
}
.login{
  margin-top: 10px;
}


.navBar .topRight .register{
    font-family: "Epilogue",sans-serif;
    font-size: 12px;
    background-color: hsl(0, 0%, 98%);
    border: 1.5px solid hsl(0, 0%, 41%);;
    color:hsl(0, 0%, 41%);;
    border-radius: 11px;
    padding: 10px 16px;
}

.dropDown-Content {
  display: none;
  background: white;
}

.navBar ul li:hover .dropDown-Content {
    display: block;
    position: absolute;
    background: white;
    right: 3%;
    top: 160%;
    width: 140px;
    height: 125px;
    border-radius: 7px;
    box-shadow: 2px 2px 12px lightgray;
    padding-top: 15px;
  }

.dropDown-Content li {
    display: block;
    justify-content: space-around;
    color:hsl(0, 0%, 41%);
    font-size: 10px;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    font-family: 'Epilogue', sans-serif;
  }

  .dropDown-Content ul li {
    width: 25px;
    /* text-align: center; */
    padding: 0;
  }

  .dropDown-Content a{
    display: flex;
    padding: 5px;
    text-decoration: none;
    justify-content: space-evenly;
  }



/* Second Drop Down  */
  .dropDown-ContentTwo{
    display: none;
  }

  .navBar ul li:hover .dropDown-ContentTwo {
    display: block;
    position: absolute;
    background-color: white;
    left: 10%;
    top: 150%;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    box-shadow: 2px 2px 12px lightgray;
    padding-top: 15px;
    z-index: 100;
  }

.dropDown-ContentTwo a {
      display: flex;
      padding: 5px;
      text-decoration: none;
      text-align: left;
      padding-left: 10px;
  }

  .dropDown-ContentTwo ul li {
    width: 40px;
    text-align: center;
  }

/*#####################################################*/
/*#####################################################*/
/* Main Section */
.container{
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
    margin: 20px 60px 60px 60px;
}

/* section > .info{
  width: 600px;
} */

.info {
  width: 46%;
  margin-right: 3%;
}

.info, p {
    text-align: left;
    flex-wrap: wrap;
    
}

.info h1 {
    font-size: 62px;
    color:hsl(0, 0%, 8%);
    margin-bottom: 45px;
    font-family: 'Epilogue', sans-serif;
}
.info p{
    color: hsl(0, 0%, 41%);
    margin: 0 0 55px 0;
    font-family: 'Epilogue', sans-serif;
    line-height: 1.7em;
    font-weight: 500;
    font-size: 15px;

}

.container .info button{
    border-color:hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-size: 13px;
    border-radius: 11px;
    padding: 13px 25px;
    font-family: 'Epilogue', sans-serif;
    cursor: pointer;
}

.info button:hover{
  background: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);

}

.clients {
  margin-top: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
}

.clients img{
  width: 80px;
  margin-right:2%;
}

/* image */
.heroDesktop img{
    margin: 25px;
    width: 400px;
    height: 520px;
}

/*#####################################################*/
/*#####################################################*/
/* Footer */
.attribution p {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 98%);
    margin: 1.5%;
    font-family: 'Epilogue', sans-serif;
}







  /******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* On mobile, please make all sections stack  */

@media only screen and (max-width: 375px){

  .navBar{
    display: none;
  }
  .container{
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
}

.info{
  order:2;
}

.heroDesktop{
  display:none;
}

.info h1 {
  width: 100%;
  text-align: center;
  font-size: 25px;
  color:hsl(0, 0%, 8%);
  /* margin-bottom: 15px; */
  margin: 10px;
  
}
.info p{
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: hsl(0, 0%, 41%);
  /* margin: 0 0 20px 0; */
  margin: 10px;
}

.container .info button{
  display: center;
  border-color:hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  font-size: 11px;
  border-radius: 5.5px;
  padding: 5px 12.5px;
}
.heroDesktop img{
  margin: 0px;
  width: 300px;
  height: 250px;
  /* padding: 40px; */
}
/* On tablet, please make the sections in main stack  */

@media only screen and (min-width: 376px) and (max-width: 500px){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

/* On laptop, please keep the normal layout, but everything should be light green */

@media only screen and (min-width: 501px) and (max-width:768px){
  .container{
    width: 100%;
  }

  .info {
    width: 100%;
  }
  
  .heroDesktop{
    width: 100%;
  }
}

/* On larger screens, please keep the normal layout, but everything should be light blue */
/* 
@media only screen and (min-width: 769px) and(max-width:1400px){
  .container{
    width: 100%;
  }

  .info {
    width: 100%;
  }
  
  .heroDesktop{
    width: 100%;
  }
} */